<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		{{ craft.vite.script('src/js/app.js', false) }}
	</head>
	<body>
		Hello world from the template in the Vite Craft Starter
	</body>
</html>
